<ng-content select="h3"></ng-content>
<ng-content select="button"></ng-content>
<ng-content select="app-content-remember"></ng-content>
<div *ngIf="showMessage">
  You will be logged in for 30 days
</div>

<h4>{{title}}</h4>
