<!--<app-content-child>-->
<!--  <h3>Create account</h3>-->
<!--  <button type="submit">-->
<!--    Join us-->
<!--  </button>-->
<!--  <app-content-remember-->
<!--    (checked)="rememberUser($event)"-->
<!--  ></app-content-remember>-->
<!--</app-content-child>-->

<!--<div>-->
<!--  <div #entry></div>-->
<!--</div>-->

<!--<div>-->
<!--  <app-one></app-one>-->
<!--  <app-two></app-two>-->
<!--  <app-three></app-three>-->
<!--</div>-->

<div>
  <button (click)="addProp()">Add property</button>
  <button (click)="changeUser()">Change user object</button>
  <button (click)="changeName()">Change name property</button>
  <div class="users">
    <app-one [user]="user"></app-one>
    <app-two [user]="user"></app-two>
  </div>
</div>
