<!--<div class="col-md-6 offset-md-3 mt-5">-->
<!--  <div class="card">-->
<!--    <h4 class="card-header py-3">JWT Login</h4>-->
<!--    <div class="card-body">-->
<!--      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--        <div class="mb-3">-->
<!--          <label class="form-label">Username</label>-->
<!--          <input type="text" formControlName="username" class="form-control" />-->
<!--&lt;!&ndash;          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <div *ngIf="f.username.errors.required">Username is required</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <label class="form-label">Password</label>-->
<!--          <input type="password" formControlName="password" class="form-control" />-->
<!--&lt;!&ndash;          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">&ndash;&gt;-->
<!--&lt;!&ndash;            <div *ngIf="f.password.errors.required">Password is required</div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--        </div>-->
<!--        <button [disabled]="loading" class="btn btn-primary">-->
<!--          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--          Login-->
<!--        </button>-->
<!--        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="auth-login-container" *ngIf="!isLoginFb">
  <div class="w-96 border border-inherit m-2">
    <div class="mt-5 flex justify-center">
      <i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img" style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yK/r/ATdtiLb2BQ9.png&quot;); background-position: 0px 0px; background-size: 176px 181px; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
    </div>
    <div class="m-4 flex flex-col">
      <div class="mb-6">
        <input type="email" id="email" class="auth-login-input" placeholder="john.doe@company.com" required>
      </div>
      <div class="mb-6">
        <input type="password" id="password" class="auth-login-input" placeholder="•••••••••" required>
      </div>
      <button type="button" class="auth-login-button">Đăng nhập</button>
      <div class="flex justify-center items-center">
        <div class="border border-current border-solid h-px flex-1"></div>
        <div class="p-1 flex-1 flex justify-center font-bold text-gray-400">HOẶC</div>
        <div class="border border-current border-solid h-px flex-1"></div>
      </div>
      <div class="p-1 flex justify-center font-bold text-indigo-800">
        <div class="flex justify-center items-center"><i class="fa-brands fa-square-facebook pr-2"></i></div>
        <div class="cursor-pointer" (click)="loginFbChange()">Đăng nhập bằng Facebook</div>
      </div>
      <div class="p-1 flex justify-center">
        <div>Quên mật khẩu?</div>
      </div>
    </div>
  </div>
  <div class="w-96 h-16 border border-inherit m-2 flex justify-center items-center">Bạn chưa có tài khoản ư? <a><div class="text-sky-400 font-bold pl-1"> Đăng ký</div></a></div>
  <div class="w-96 h-16 m-2 flex justify-center items-center">Tải ứng dụng</div>
  <div class="flex items-center justify-center">
    <div class="w-36 h-12 pr-1">
      <a aria-label="Tải xuống từ App Store" class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _aa5s _a6hd" href="https://itunes.apple.com/app/instagram/id389801252?ct=igweb.loginPage.badge&amp;mt=8&amp;pt=428156&amp;vt=lo" rel="nofollow noreferrer" role="link" tabindex="0" target="_blank"><img alt="Tải xuống từ App Store" class="_aa5q" src="https://static.cdninstagram.com/rsrc.php/v3/yi/r/B7lEgOnVew5.png"></a>
    </div>
    <div class="w-36 h-12 pl-1">
      <a aria-label="Tải xuống từ Google Play" class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _aa5s _a6hd" href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=ig_mid%3D2491297A-19F6-495A-AF65-F4F948A5A52A%26utm_campaign%3DloginPage%26utm_content%3Dlo%26utm_source%3Dinstagramweb%26utm_medium%3Dbadge" rel="nofollow noreferrer" role="link" tabindex="0" target="_blank"><img alt="Tải xuống từ Google Play" class="_aa5q" src="https://static.cdninstagram.com/rsrc.php/v3/y2/r/yKDBMIG1og3.png"></a>
    </div>
  </div>
</div>

<div class="auth-login-container" *ngIf="isLoginFb">
  <div class="w-96 border border-inherit m-2">
    <div class="mt-5 flex justify-center">
      <i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img" style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yK/r/ATdtiLb2BQ9.png&quot;); background-position: 0px 0px; background-size: 176px 181px; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
    </div>
    <div class="flex justify-center items-center m-3">
      <div class="border border-2 rounded-full w-28 h-28">
        <img alt="Ảnh đại diện của chuongtdq" class="_aa4y" src="https://scontent.cdninstagram.com/v/t51.2885-19/332330013_510819961231668_859399635861883631_n.jpg?stp=dst-jpg_s200x200&amp;_nc_cat=103&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=uU3HDRBbAlkAX-e7Ank&amp;_nc_ad=z-m&amp;_nc_cid=0&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=00_AfAw16a0MmHXbEfGkPWJPp_253-EtlYc8HylT2PxSYD1Vg&amp;oe=64E9456F">
      </div>
    </div>
    <div class="flex justify-center items-center">
      <button (click)="loginFbChange()" type="button" class="auth-login-button rounded mt-3 cursor-pointer">Tiếp tục dưới tên chuongtdq</button>
    </div>
    <div class="flex justify-center items-center pb-3 mt-3 p-3">Không phải chuongtdq? <a><div class="text-sky-400 font-bold pl-1">Chuyển tài khoản</div></a></div>
  </div>
</div>

